#intro {
  width: 100%;
}
#intro .banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
#intro .banner img {
  position: relative;
  top: -50%;
  width: 100%;
  height: 150%;
  object-fit: cover;
}
/* content */
#intro .content_container {
  width: 1200px;
  margin: 0px auto;
  overflow: hidden;
}
.content_container .title {
  width: 100%;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}
.content_container .title h1 {
  padding-top: 75px;
  font-size: 38px;
  opacity: 0;
}
.content_container .title p {
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 14px;
  color: #808080;
  opacity: 0;
}
hr {
  width: 250px;
  margin: 0px auto;
  color: #a5a5a5;
}
.content_container .content_box {
  position: relative;
  display: grid;
  grid-template-columns: 480px 720px;
  grid-template-rows: 1fr;
  left: 300px;
  margin-top: 75px;
  margin-bottom: 0px;
  opacity: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
}
.content_container .content_box:last-child {
  grid-template-columns: 720px 480px;
  margin-bottom: 200px;
}
.content_container .content_box .content_img {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: hidden;
}
.content_container .content_box .content_img img {
  width: 100%;
}
.content_container .content_box .content_text {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  background: linear-gradient(113deg, #31b32bb5, #0083ffcf);
  padding: 20px;
}
.content_container .content_box .content_text h4 {
  font-size: 21px;
  padding-top: 20px;
}
.content_container .content_box .content_text p {
  font-size: 15px;
  padding-top: 40px;
}
.content_container .content_box:last-child .content_img {
  grid-column: 2 / 3;
}
.content_container .content_box:last-child .content_text {
  grid-column: 1 / 2;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* #intro .banner {
    height: 300px;
  } */
  #intro .content_container {
    width: 600px;
  }
  .content_container .title h1 {
    font-size: 28px;
  }
  .content_container .title p {
    font-size: 12px;
  }
  hr {
    width: 100px;
  }
  .content_container .content_box {
    grid-template-columns: 1fr;
    grid-template-rows: 320px 250px;
    height: 570px;
  }
  .content_container .content_box .content_img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .content_container .content_box .content_text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .content_container .content_box .content_text h4 {
    font-size: 20px;
  }
  .content_container .content_box .content_text p {
    font-size: 13px;
  }
  .content_container .content_box:last-child {
    grid-template-columns: 1fr;
    grid-template-rows: 320px 250px;
    height: 570px;
  }
  .content_container .content_box:last-child .content_img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .content_container .content_box:last-child .content_text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  /* #intro .banner {
    height: 110px;
  } */
  #intro .content_container {
    width: 300px;
  }
  .content_container .title h1 {
    font-size: 26px;
  }
  .content_container .title p {
    font-size: 10px;
  }
  hr {
    width: 80px;
  }
  .content_container .content_box {
    grid-template-columns: 1fr;
    grid-template-rows: 187px 300px;
    height: 487px;
  }
  .content_container .content_box .content_img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .content_container .content_box .content_text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .content_container .content_box .content_text h4 {
    font-size: 18px;
  }
  .content_container .content_box .content_text p {
    font-size: 12px;
  }
  .content_container .content_box:last-child {
    grid-template-columns: 1fr;
    grid-template-rows: 187px 300px;
    height: 487px;
  }
  .content_container .content_box:last-child .content_img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .content_container .content_box:last-child .content_text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
