.side_menu {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 100%;
  background: #fff;
}
.side_menu i.close {
  cursor: pointer;
  position: absolute;
  right: 44px;
  top: 20px;
  font-size: 55px;
  z-index: 5;
}
.side_menu .side_sideBox {
  float: left;
  position: relative;
  width: 710px;
  height: 100%;
  background: #c0c0c0;
}
.side_sideBox .side_nav {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  width: 400px;
}
.side_sideBox .side_nav li {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}
.side_sideBox .side_nav li a {
  font-family: "Noto Sans", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  padding-left: 50px;
  opacity: 0;
}
/* side_container */
.side_menu .side_container {
  position: relative;
  float: left;
  width: calc(100% - 710px);
  height: 100%;
}
.side_container .smp_container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.side_container .smp_container h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 53px;
  text-align: center;
}
.smp_container .smp_menu {
  width: 800px;
}
.smp_container .smp_menu > li {
  width: 400px;
  float: left;
  text-align: center;
  padding-bottom: 25px;
}
.smp_container .smp_menu > li > a {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.smp_container .smp_menu > li:hover > a {
  color: #31b32b;
}
.smp_container .smp_menu > li > .smp_subMenu {
  width: 100%;
  padding-top: 25px;
}
.smp_container .smp_menu > li > .smp_subMenu > li {
  width: 100%;
  float: left;
  padding: 5px 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  font-size: 15px;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .side_menu .side_sideBox {
    width: 310px;
  }
  .side_sideBox .side_nav {
    left: 20px;
    width: 170px;
  }
  .side_sideBox .side_nav li a {
    font-size: 25px;
  }
  .side_menu .side_container {
    width: calc(100% - 310px);
  }
  .side_container .smp_container h1 {
    font-size: 33px;
  }
  .smp_container .smp_menu {
    width: 400px;
  }
  .smp_container .smp_menu > li {
    width: 200px;
  }
  .smp_container .smp_menu > li > .smp_subMenu > li {
    font-size: 13px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .side_menu .side_sideBox {
    width: 100%;
  }
  .side_menu .side_container {
    display: none;
  }
  .side_sideBox .side_nav {
    left: 20px;
    transform: translateY(-50%);
    width: 300px;
  }
  .side_sideBox .side_nav li a {
    font-size: 25px;
  }
}
