.side_menu {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 100%;
  background: #fff;
}
.side_menu i.close {
  cursor: pointer;
  position: absolute;
  right: 44px;
  top: 20px;
  font-size: 55px;
  z-index: 5;
  color: #8f8f8f;
}
.side_menu .side_sideBox {
  float: left;
  position: relative;
  width: 710px;
  height: 100%;
}
.side_menu .side_sideBox::after {
  width: 100%;
  height: 100%;
  background: url(../images/side_1.png);
  background-size: 100% 110%;
  background-position-y: 0px;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}
.side_menu .side_sideBox.changed::after {
  background-position-y: -50px;
  opacity: 0.75;
}
.side_menu .side_sideBox.changed.bg_01::after {
  background-size: 100% 110%;
  background-position-y: 0px;
}
.side_menu .side_sideBox.changed.bg_02::after {
  background: url(../images/side_2.png);
  background-size: 100% 110%;
  background-position-y: 0px;
}
.side_menu .side_sideBox.changed.bg_03::after {
  background: url(../images/side_3.png);
  background-size: 100% 110%;
  background-position-y: 0px;
}
.side_menu .side_sideBox.changed.bg_04::after {
  background: url(../images/side_4.png);
  background-size: 100% 110%;
  background-position-y: 0px;
}
.side_sideBox .side_nav {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  width: 400px;
  background: #00000066;
  opacity: 0;
}
.side_sideBox .side_nav li {
  width: 100%;
  float: left;
  margin-bottom: 50px;
  padding-left: 15px;
}
.side_sideBox .side_nav li:first-child {
  margin-top: 50px;
}
.side_sideBox .side_nav li a {
  font-family: "Noto Sans", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #ffffff66;
  padding-left: 50px;
  opacity: 0;
}
/* side_container */
.side_menu .side_container {
  position: relative;
  float: left;
  width: calc(100% - 710px);
  height: 100%;
}
.side_container .smp_container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.side_container .smp_container h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 53px;
  text-align: center;
}
.smp_container .smp_menu {
  width: 550px;
}
.smp_container .smp_menu > li {
  width: 275px;
  float: left;
  text-align: center;
  padding-bottom: 25px;
}
.smp_container .smp_menu > li > a {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.smp_container .smp_menu > li:hover > a {
  color: #31b32b;
}
.smp_container .smp_menu > li > .smp_subMenu {
  width: 100%;
  padding-top: 25px;
}
.smp_container .smp_menu > li > .smp_subMenu > li {
  width: 100%;
  float: left;
  padding: 5px 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  font-size: 15px;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .side_menu .side_sideBox {
    width: 310px;
  }
  .side_sideBox .side_nav {
    left: 20px;
    width: 250px;
  }
  .side_sideBox .side_nav li a {
    font-size: 21px;
  }
  .side_menu .side_container {
    width: calc(100% - 310px);
  }
  .side_container .smp_container h1 {
    font-size: 28px;
  }
  .smp_container .smp_menu {
    width: 400px;
  }
  .smp_container .smp_menu > li {
    width: 200px;
  }
  .smp_container .smp_menu > li > a {
    font-size: 21px;
  }
  .smp_container .smp_menu > li > .smp_subMenu > li {
    font-size: 13px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .side_menu i.close {
    right: 20px;
    top: 20px;
    font-size: 20px;
    z-index: 5;
    color: #ffffff;
  }
  .side_menu .side_sideBox {
    width: 100%;
  }
  .side_menu .side_container {
    display: none;
  }
  .side_sideBox .side_nav {
    left: 20px;
    transform: translateY(-50%);
    width: 300px;
  }
  .side_sideBox .side_nav li a {
    font-size: 18px;
  }
}
